.logo {
  max-height: 60px;
  margin: 0 10px;
}

.coin-select-row {
  align-items: flex-start;
  justify-content: center;
}

.coin-select-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  font-size: 70%;
  margin: 0 10px;
}

.coin-select-field {
  width: 100%;
}

.coin-dashboard {
  max-width: 1200px;
  margin: 20px auto;
}
