<mat-toolbar>
  <mat-toolbar-row>
    <img class="logo" src="/assets/logo.png" />
    <span>cryptunics</span>
  </mat-toolbar-row>
  <mat-toolbar-row class="coin-select-row">
    <form class="coin-select-form">
      <mat-form-field class="coin-select-field" appearance="fill">
        <mat-label>Coin</mat-label>
        <input matInput aria-label="Coin" [matAutocomplete]="auto" [formControl]="coinCtrl" />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="coinSelected($event)" [displayWith]="displayCoin">
          <mat-option *ngFor="let coin of filteredCoins | async" [value]="coin">
            <span>{{ coin.name }}</span> |
            <span>{{ coin.symbol }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    <button type="button" mat-fab (click)="onAddSelectedCoin()" [disabled]="!selectedCoin" color="accent">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="coin-dashboard">
  <app-coin-tile *ngFor="let coin of displayedCoins; index as i" [coin]="coin"
    (remove)="onRemoveDisplayedCoin($event, i)"></app-coin-tile>
</div>